#
# MANIFEST template for source distribution generation
#

include COPYING README MANIFEST.in setup.py autogen.sh

# python modules
recursive-include   Synopsis *.py

# C/C++ extensions
recursive-include   Cxx-API *
recursive-include   Synopsis/Parsers/Cpp *
recursive-include   Synopsis/Parsers/C *
recursive-include   Synopsis/Parsers/Cxx *

# data files (compiled documentation etc.)
recursive-include   share *

# documentation (source)
recursive-include   doc *
recursive-include   demo *

# scripts
include             scripts/*

# unit tests
recursive-include   tests *

# suppress svn bookkeeping stuff ...
global-exclude .svn
global-exclude .svn/*
global-exclude .svn/*/*
global-exclude .svn/*/*/*

# ... and other local waste
global-exclude autom4te.cache
global-exclude autom4te.cache/*
global-exclude *~
global-exclude *.pyc
global-exclude *.so

