#
# MANIFEST template for source distribution generation
#

include COPYING README NEWS MANIFEST.in setup.py autogen.sh revision synopsis.spec
include             config/*
exclude setup.cfg

# python modules
recursive-include   Synopsis *.py

# Synopsis C++ API
recursive-include   src *

# C/C++ extensions
recursive-include   Synopsis/Parsers/Cpp *
recursive-include   Synopsis/Parsers/IDL *
recursive-include   Synopsis/Parsers/C *
recursive-include   Synopsis/Parsers/Cxx *

# data files (compiled documentation etc.)
recursive-include   share *

# documentation (source)
recursive-include   doc *

# scripts
include             scripts/*

# unit tests
recursive-include   tests *
# experimental code
recursive-include   sandbox *

# suppress svn bookkeeping stuff ...
global-exclude .svn
global-exclude .svn/*
global-exclude .svn/*/*
global-exclude .svn/*/*/*

# ... and other local waste
global-exclude autom4te.cache
global-exclude autom4te.cache/*
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.so

