# $Id: MANIFEST.in,v 1.2 2003/09/18 20:28:58 stefan Exp $
#
# MANIFEST template for source distribution generation
#

include README MANIFEST.in setup.py autogen.sh

# python modules
recursive-include   Synopsis *.py

# C/C++ extensions
recursive-include   Synopsis/Parser/C *
recursive-include   Synopsis/Parser/C++ *

# data files
include             share/*

# documentation
recursive-include   docs *
recursive-include   demo *

# scripts
include             bin/*

# suppress CVS bookkeeping stuff
global-exclude */CVS/*
