declarations:before
{ 
  display: block;
  content: "Declarations";
  font-size: large;
}

declarations
{ 
  display: block;
  padding-left: 10mm;
}
declarations > *:before,
declarations > item *:before
{ 
  content: attr(type)" "attr(name);
  font-weight: bold;
}
declarations > item:before {  content:"";} /* empty */

files:before
{ 
  display: block;
  content: "Files";
  font-size: large;
}

files > file
{ 
  display: block;
  margin: 1mm;
}

comments summary
{ 
  visibility: hidden;
  display: none;
}

comments text
{ 
  visibility: visible;
  display: block;
  background: #dddddd;
  border: thin solid;
  margin: 1mm;
  padding: 1mm;
}