body
  {
    margin-left: 5%;
    margin-right: 5%;
    color: #003030;
    background: #ffffff;
  }
:link { color: #603030; text-decoration: none;}
:visited { color: #603030; text-decoration: none;}
:active { color: #800000; text-decoration: none;}
span.keyword { font-style: italic;}
span.variable { font-style: italic;}
span.name { font-weight: bold; }
a.name { font-weight: bold; }
div.module { padding: 1.0em;}
div.declarations { padding: 1.0em;}
div.desc
  {
    border: none;
    font-style: italic;
    color: #446666;
  }
div.summary
  {
    border: none;
    font-style: italic;
    color: #446666;
    margin-left: 3em;
  }
div.enumerator {
    margin-left: 3em;
}
div.files {
    margin-left: 1em;
}
td.heading {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.1em;
    background: #aacccc;
}
