Source: synopsis
Section: devel
Priority: optional
Maintainer: Patrick Mauritz <oxygene@gmx.net>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: synopsis
Architecture: any
Depends: ${shlibs:Depends}, python-base (>= 1.5)
Description: Sourcecode Documentation Code
 synopsis is a modular source code documentation
 tool with support for a variety of programming
 languages, output format, and comment styles.
