Source: synopsis
Section: devel
Priority: optional
Maintainer: Patrick Mauritz <oxygene@studentenbude.ath.cx>
Build-Depends: debhelper (>> 4.1.67), python2.3-dev, python (>= 2.3), python (<< 2.4), autoconf, xutils, libgc-dev
Standards-Version: 3.6.1

Package: synopsis
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, cpp
Suggests: synopsis-formatter-dot
Description: Source code documentation tool
 synopsis is a modular source code documentation
 tool with support for a variety of programming
 languages, output format, and comment styles.
 .
 the package "synopsis-formatter-dot" contains an add-on
 which produces inheritance graphs for the HTML output.
 It is in a separate package as it depends on non-free
 packages.

Package: synopsis-formatter-dot
Architecture: any
Section: contrib/devel
Depends: graphviz, msttcorefonts, synopsis
Description: Source code documentation tool, dot formatter
 synopsis is a modular source code documentation
 tool with support for a variety of programming
 languages, output format, and comment styles.
 .
 This package provides the formatter to produce complex 
 inheritance graphs, separated due to licensing problems
