/* layout*/
body 
{
  margin: 0;
  font-family:arial,sans-serif;
  background-image: url("gradient.png");
  background-repeat: repeat-x;
  background-color: #f2f5f7;
}
.navigation
{ 
  position: fixed;
  top: 0em;
  bottom: 1em;
  width: 12em;
  height: 100%;
}

.navigation .logo 
{
  display: block;
  margin: 1em;
  padding-top: 4em;
  background-image: url("logo3d.png");
  background-repeat: no-repeat;
  font-family: "arial";
  font-style: italic;
  font-size: xx-large;
  color: #770000;
}

.header
{ 
  position: absolute;
  top: 0em;
  height: 4em;
  left: 12em;
  right: 0em;
}

#searchbox 
{
 text-align: right;
 padding: 1em;
}

.content
{ 
  position: absolute;
  height: auto;
  top: 4em;
  left: 12em;
  right: 1em;
  border: 1px solid #aaaaaa;
}

/* style */
body 
{
  color: #003030;
}

:link { color: #bb0000; text-decoration: none;}
:visited { color: #770000; text-decoration: none;}

.menu ul
{ 
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.menu > ul > li
{
  margin: 0.3em;
  margin-left: 2em;
}

.menu > ul > li > a
{
  display: block;
  padding: 0.2em;
  border: 1px solid #aaaaaa;
  background-color: #ffffff;
}

.menu li li
{
  margin-left: 17px;
  font-size: small;
  border-top: solid;
  border-color: #aaaaaa;
  border-width: 1px;
}

.menu li li:first-child { border-top: 0 none;}

.menu li li.current { font-weight: bold;}

.menu li.separator
{
  color: #808080;
  border-top: solid;
  border-color: #aaaaaa;
  border-width: 1px;
}

.content
{ 
  padding: 1em;
  background-color: #ffffff;
}

.footer
{
  font-size: small;
  text-align: center;
  color: lightgrey;
}

.admonition
{
  border: 1px solid #aaaaaa;
  background-color: #f2f5f7;
  padding: 10px;
  margin: 20px;
}
.admonition-news { float: right;}

.admonition-title 
{
  font-weight: bold;
  text-align: center;
}

table
{
  background-color: #aaaaaa;
  border: 0;
  border-spacing: 1px;
}
table td
{
  background-color: #f2f5f7;
  border: 0;
  padding: 5px;
}
table th
{
  background-color: #f2f5f7;
  border: 0;
  padding: 5px;
}

table.indextable,
table.indextable td,
table.indextable.th { background-color: inherit;}

div.news
{
  border: 1px solid #aaaaaa;
  background-color: #f2f5f7;
  text-align: center;
  margin: 20px;
}

div.newsheader
{
  font-weight: bold;
}

div.poweredby
{
  position: absolute;
  top: 46em;
  height: auto;
  font-size: small;
  margin-left: 10px;
  color: #808080;
  padding: 5px;
}
div.modifiedby
{
  position: absolute;
  top: 52em;
  height: auto;
  font-size: small;
  margin-left: 10px;
  color: #808080;
  border-top: solid;
  border-color: #aaaaaa;
  border-width: 1px;
  padding: 5px;
}

div.hostedby 
{
  float: right;
  margin-right: 10px;
}

div.highlight
{
  border: 1px solid #aaaaaa;
  background-color: #f2f5f7;
  margin: 20px;
}
div.highlight h3
{
  text-align: center;
}

p.logentry .title
{ 
  font-weight: bold;
}

p.logentry .date
{ 
  font-style: italic;
}

pre.message
{ 
  font-size: small;
}

div dt { font-weight: bold;}
div dd { padding: 1em;}